<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Clientes</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Clientes</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <!-- Contenido-->
    <hr>
    <input type="button" value="Insertar Cliente" class="btn btn-warning" (click)="mostrar_form('ver')"><hr>
    <!--Formulario-->
    <div id="formulario" *ngIf="mform==true">
        <div class="row">
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Identidad" [(ngModel)]="obj_cliente.ident">
            <span style="color: red" *ngIf="validar_identidad == false">Insertar Identidad</span>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="obj_cliente.nombre">
            <span style="color: red" *ngIf="validar_nombre == false">Insertar Nombre del Cliente</span>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="obj_cliente.direccion">
            <span style="color: red" *ngIf="validar_direccion == false">Insertar Dirección</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Celular" [(ngModel)]="obj_cliente.celular">
            <span style="color: red" *ngIf="validar_celular == false">Insertar Celular</span>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="obj_cliente.email">
            <span style="color: red" *ngIf="validar_email == false">Insertar Correo</span>
          </div>
          <div class="col-lg-4">
            <select class="form-control form-select" [(ngModel)]="obj_cliente.fo_ciudad"><!--select se usa cuando es foranea-->
              <option value="0" label="Seleccione la Ciudad" selected="selected">Seleccione la Ciudad</option>
              <option *ngFor="let itemc of ciudad" value="{{itemc.id_ciudad}}">{{itemc.nombre}}</option>
            </select><!--select se usa cuando es foranea para poder seleccionar la lista, (ojo con el alias de el sql 
              asi se debe llamar el itemc.ciudad por que el alias era ciudad y no nombre como esta en a BD: DEPENDE DEL ALIAS)-->
            <span style="color:red;" *ngIf="validar_fo_ciudad == false">Seleccionar la Ciudad</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <input type="button" value="Guardar" class="btn-primary" style="width: 100%;" (click)="validar('guardar')"
            *ngIf="botones_form == false">
            <input type="button" value="Editar" class="btn-primary" style="width: 100%;" (click)="validar('editar')"
             *ngIf="botones_form == true">
          </div>
          <div class="col-lg-4"><input type="button" value="Cancelar" class="btn-secondary" style="width: 100%" (click)
            ="mostrar_form('no ver')"></div>
          <div class="col-lg-4"></div>
        </div>
    </div>
    <hr>
    <div id="tabla">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Identidad</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Ciudad</th>
                <th>Acciones</th>
              </tr>
              <tr *ngFor="let item of cliente"> <!--llama el componente de cliente-->
                <td>{{item.ident}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.celular}}</td>
                <td>{{item.email}}</td>
                <td>{{item.ciudad}}</td> <!--Como este campo sale de un inner join se debe colocar tal cual como lo haya renombrado en el SCRIPT-->
                <td>
                  <span class="fas fa-edit" style="color: blue; cursor: pointer" title="Editar" (click)
                  ="cargar_datos(item, item.id_cliente)"></span><!-- para que el icono editar traiga la funcion -->
                  <span class="fas fa-minus-square" style="color: red; cursor: pointer" title="Eliminar" (click)
                  ="eliminar(item.id_cliente)"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      
    </div>
</div>
</section>
